*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontfamily);
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

// VARIABLES
:root{
    --fontfamily: "Poppins";

    --colorprimary1: hsl(0 0% 98%);
    --colorprimary2: hsl(0 0% 100%);
    --coloraccent1: hsl(342 88% 68%);
    --colorbody: hsl(0 0% 12%);
    --grey1: hsl(0 0% 20%);
    --colorbackground: hsla(0 0% 0% / 0.8);
    --colorgradient1: linear-gradient(to right, hsl(342 88% 68%), hsl(0 100% 89%));
    --colorgradient1-reversed: linear-gradient(to right, hsl(0 100% 89%), hsl(342 88% 68%));
    --colorgradient1-vertical: linear-gradient(to bottom, hsl(342 88% 68%), hsl(0 100% 89%));

    --h1: bold 5.61rem/1.6 var(--fontfamily); //font-weight | font-size/line-height | font-family
    --h2: bold 4.209rem/1.6 var(--fontfamily);
    --h3: bold 3.157rem/1.6 var(--fontfamily);
    --h4: bold 2.369rem/1.6 var(--fontfamily);
    --h5: bold 1.777rem/1.6 var(--fontfamily);
    --h6: bold 1.333rem/1.6 var(--fontfamily);

    --transition1: all 0.4s ease-in-out;
}

// HEADER SECTION
header{
    position: fixed; //stay on top when scrolling
    top: 1rem; //gap from top
    //to center header: gap from left, then rearrange the header's center to the left
    left: 50%; 
    transform: translateX(-50%);
    //turn header into a flex box
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: var(--colorbackground);
    backdrop-filter: blur(8px); //glass effect
    color: var(--colorprimary1); //text color
    padding: 0.5rem 1.5rem; //top-bottom | left-right
    border-radius: 3rem;
    z-index: 1000; //to make sure header stay on top of everything
}

// LOGO
.logo{
    color: var(--colorprimary1); //text color
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: var(--transition1);
}
.logo:hover{
    background: var(--colorgradient1-reversed);
    background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition: var(--transition1);
}

// NAVIGATION LINKS
.nav-links{
    display: flex;
    gap: 2rem;
}
li a{
    position: relative; // tell the ::before to position inside this element
    color: var(--colorprimary1);
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px; //make it a bit lower from the text
    border-radius: 1rem;
    transition: var(--transition1);
    background: var(--colorgradient1);
}
li a:hover::before{
    width: 100%;
}

// VISIT BUTTONS
.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--colorprimary1);
    cursor: pointer;
    text-wrap: nowrap;
    transition: var(--transition1);
    background: var(--colorgradient1);
}
.visit-btn:hover{
    transform: scale(1.03);
    background: var(--colorgradient1-reversed);
}

// SVG Images/Buttons
svg{
    cursor: pointer;
    fill: var(--colorbody);
    width: 2rem;
    stroke: var(--colorbody);
    stroke-width: 10px;
    transition: var(--transition1);
}
svg:hover{
    fill: var(--coloraccent1);
    transition: var(--transition1);
}
.menu-icon{
    display: none; //TEMP HIDING BUTTON
}

section{
    min-height: 100vh; // cover the entire page
    padding: 8rem 12%; //top-bottom | left-right
    width: 100%;
    position: relative;
}

// ABOUT SECTION
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
// TEXT
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box .text h3{
    font: var(--h3);
}
.info-box h1{
    font: var(--h1);
}
.info-box span{
    font: var(--h3);
    background: var(--colorgradient1);
    // clip background within the text area, then make text transparent to show the background
    background-clip: text;
    color: transparent;
}
// DOWNLOAD + CONTACT BUTTON
.btn-group{
    display: flex;
    gap: 1rem;
}
.btn-group a{
    color: var(--colorbody);
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--colorbody);
    cursor: pointer;
    font: var(--h6);
    text-wrap: nowrap;
    transition: var(--transition1);
    position: relative; // tell the ::before to position inside the button
    overflow: hidden; //hide the colored layer before the hover, clipping anything that goes outside the button's rounded corners
    z-index: 1; // make sure the text stays on top of the sliding color
}
.btn:hover{
    color: var(--colorprimary1);
}
.btn::before{
    content: '';
    position: absolute; // positions the layer within the button
    top: 0; left: 0; //starts at the top-left corner
    width: 0%; // starts off with nothing
    height: 100%; // makes it fill the entire button
    background: var(--colorgradient1);
    z-index: -1; // places color layer behind the text
    transition: var(--transition1);
}
.btn:hover::before{
    width: 100%; // fills the whole width of the button
}
// SOCIAL MEDIA BUTTONS
.socials{
    cursor: pointer;
    transition: var(--transition1);
    svg{
        width: 5rem;
        height: 5rem;
    }
}
.socials svg:hover{
    transform: scale(1.1);
}

// PROJECTS SECTION
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid var(--colorbody);
    border-radius: 3rem;
    cursor: pointer;
    transition: var(--transition1);
}
.project-card:hover{
    background-color: var(--colorbody);
    color: var(--colorprimary1);
    transform: translateY(-10px) scale(1.02);
}
.project-card img{
    width: 20vw;
    border: 8px solid var(--coloraccent1);
    border-radius: 1.5rem;
}
.project-card a{
    color: var(--colorbody);
}
.project-card:hover .btn{
    border: 2px solid var(--colorprimary2);
    color: var(--colorprimary1);
}
.project-card:hover a{
    color: var(--colorprimary1);
}
.project-card h3{
    font: var(--h4);
}


// EXPERIENCE SECTION
.section-title{
    text-align: center;
    font: var(--h2);
    margin-bottom: 3rem;
}

.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.grid-card{
    border: 2px solid var(--colorbody);
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: var(--transition1);
}
.grid-card:hover{
    transform: scale(1.02);
    background-color: var(--colorbody);
    color: var(--colorprimary1);
    svg{
        fill: var(--colorprimary1);
    }
}
.grid-card svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}
.grid-card span{
    font: var(--h5);
    background: var(--colorgradient1-reversed);
    background-clip: text;
    color: transparent;
}


// CONTACT SECTION
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.input-box input{
    border-radius: 3rem;
    border: 2px solid var(--colorbody);
    padding: 2rem 8rem;
    font: var(--h6);
}
.input-box input::placeholder{
    font: var(--h6);
}
.input{
    position: relative;
}
.input svg{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 5px;
    transform: translate(50%, -50%);
}

// FOOTER SECTION
footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
footer ul li a{
    color: var(--colorbody);
    font: var(--h6);
}
.copyright{
    font-size: 300;
    margin-top: 2rem;
}

//SCROLL BAR
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: var(--grey1);
}
::-webkit-scrollbar-thumb{
    background: var(--colorgradient1-vertical);
}

@media (max-width: 1280px) {
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder{
        font-size: 2.5rem;
    }
    .input-box svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 768px) {
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box svg{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

@media (max-width: 600px) {
    header #menu-icon{
        display: block;
        fill: var(--colorprimary2);
    }
    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: var(--colorprimary1);
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--colorbackground);
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 80vw;
        height: auto;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    footer ul{
        gap: 1rem;
    }
}